@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Anasayfa";
}

<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6 text-center" style="display: flex; flex-direction: column; align-items: center; position: relative;">
            <div style="position: relative;">
                <img src="~/img/home.png" alt="Fotoğraf 1" class="img-fluid" style="height: 575px; width: auto; margin-bottom: 30px;">
                <a asp-controller="Home" asp-action="Index" class="btn bg-custom" style="position: absolute; top: -30px; left: 30px; font-size: 0.8em; color: white;"><strong>Türkçe</strong></a>
                <a asp-controller="Home" asp-action="Index" asp-route-culture="en" class="btn bg-custom" style="position: absolute; top: -30px; left: 100px; font-size: 0.8em; color: white;"><strong>English</strong></a>

            </div>
            <div class="alt-metin" style="font-size: 1.2em; font-family: 'Arial', sans-serif; ">
                <p>@localizer["Medikano, kapsamlı sağlık hizmetleriyle bireylerin ihtiyaçlarına özel çözümler sunar. Deneyimli ve uzman doktor kadrosu, modern tıbbın yanı sıra insana odaklı yaklaşımıyla öne çıkar. Hastalarımızın sağlık yolculuğunda şeffaf iletişim, etik değerlere bağlılık ve kişiselleştirilmiş bakım, Medikano'nun temel ilkelerindendir."]</p>
            </div>
        </div>
        <div class="col-md-6 text-center" style="display: flex; flex-direction: column; align-items: center;">
            <img src="~/img/home2.png" alt="Fotoğraf 2" class="img-fluid" style="height: 585px; width: auto;">
            <div class="alt-metin" style="font-size: 1.2em; font-family: 'Arial', sans-serif; margin-top: 30px;">
                <p>@localizer["Medikano, multidisipliner yaklaşımıyla sağlık alanında öncü bir konumda yer alır. Hastaların tedavi süreçlerini en etkili ve kişiselleştirilmiş şekilde yönetmeyi hedefler. Güncel tıbbi teknolojiyi kullanarak, uzman doktorlarımızın liderliğinde, hasta memnuniyeti ve sağlığın her aşamasında kaliteyi ön planda tutarız."]</p>
            </div>
        </div>
    </div>
</div>


